---
layout: workshop
root: .
venue: BioInfoSummer 2015     # brief name of host site without address (e.g., "Euphoric State University")
address: University of Sydney   # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: AU    # country (two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: EN   # language (two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: -33.8878,151.1872     # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: December 7, 2015  # human-readable date (e.g., "Feb 17-18, 2020")
humantime: 3:15 pm - 4:30 pm  # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: 2015-12-07  # use YYYY-MM-DD format like "2015-01-01"
enddate: 2015-12-07    # use YYYY-MM-DD format like" 2015-01-02"
instructor: ["Dr Pengyi Yang", "Steve Pederson"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Dr Pengyi Yang", "Steve Pederson"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: stephen.pederson@adelaide.edu.au    # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad:        # optional (insert the URL for your Etherpad if you're using one)
eventbrite:       # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
---
<!--
  HEADER
  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<h2>General Information</h2>

<!--
  INTRODUCTION
  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  The BioInfoSummer series introduces bioinformatics and mathematical 
  and computational biology to advanced undergraduate and postgraduate students, 
  researchers and professionals working in a variety of fields. 
</p>
<p>
  Established in 2003, BioInfoSummer is a key training event in Australia, 
  bringing together people from all disciplines to share current research and developments in Bioinformatics.
</p>

<!--
  AUDIENCE
  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at researchers with a minimal knowledge of R.
  THere is n alternative session for those who no experience of R.
</p>

<!--
  LOCATION
  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS
  Modify the block below if there are any special requirements.
-->

<p>
  <strong>Requirements:</strong> 
  Participants must bring a wifi-capable laptop, with a current installation of R and RStudio.<br>
  R is available for all operating systems at the <a href="http://cran.r-project.org/">CRAN</a> website.<br>
  RStudio is available at the <a href="https://www.rstudio.com/products/rstudio/download/">RStudio</a> website.
</p>

<p>
  <strong>Wifi:</strong>
  Laptops must have a working WiFi adapter, and connection will be through your BioInfoSummer login, 
  or through the eduroam network.
</p>

<!--
  CONTACT EMAIL ADDRESS
  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>Steve Pederson</a> or
    <a href='mailto:pengyi.yang.research@gmail.com'>Dr Pengyi Yang</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>


<!--
  ETHERPAD
  At `_misc/etherpad.txt` you will find a template for the etherpad.
  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to
      http://etherpad.mozilla.org/YYYY-MM-DD-site
  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS
  Show what topics will be covered.
  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.
  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2>Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Data Types & Loading Data</h3>
    <ul>
      <li>Files and directories</li>
      <li><a href="404">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Visualising Data</h3>
    <ul>
      <li>Using the package ggplot2</li>
      <li><a href="404">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Functions In R</h3>
    <ul>
      <li>What is a Function</li>
      <li><a href="404">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>clueR</h3>
    <ul>
      <li>Using the package clueR</li>
      <li><a href="404">Reference...</a></li>
    </ul>
  </div>
</div>

<hr/>

